name: Docker

on:
  workflow_call:

jobs:
  action:
    steps:
      - uses: actions/checkout@v6

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          push: true
          context: .
          platforms: linux/amd64,linux/arm64
          build-args: |
            AI_REVIEW_VERSION=${{ github.ref_name }}
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/ai-review:latest
            ${{ secrets.DOCKER_USERNAME }}/ai-review:${{ github.ref_name }}

    runs-on: ubuntu-latest